<section class="heading-section" id="heading-section">
    <h1 class="title" id=""><span>Todos</span></h1>
</section>

<div class="container">
    <div class="add-todo-box">
        <form >
            <h2 class="new-todo-title" id="">New Todo</h2>

            <div class="field">
                <div class="control">
                    <input type="text" name="" id="" class="new-todo-input" placeholder="Type Todo text here...">
                </div>
                <div class="control-button">
                    <a class="btn control-button-text"><i class="fa fa-plus add-icon" aria-hidden="true"></i> <span>Add</span></a>
                </div>
            </div>
        </form>
    </div>
</div>